@import '../../styles/responsive.scss'; // Must be included before any other CSS for responsive layout

.website {
  padding: 0 0 2rem;
  
  &-header {
    background: #eaf0e9;
    // box-shadow: 0 0 5px rgba(#668a5c, 0.2);
    border: 1px solid rgba(black, 0.05);
    border-radius: 0.5rem;
    margin: 0 0 3rem;

    ul {
      display: flex;
      justify-content: center;
    }
  }

  .button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    color: #668a5c;
    font-weight: 100;

    &:hover {
      color: #999060;
    }

    &-active {
      font-weight: bold;
      color: #999060;
    }
  }

  &-body {
    
  }

  &-title {
    margin:  0 0 2rem;
    font-size: 2.6rem;
    font-weight: 100;
  }
}

.card {
  border-radius: 0.2rem;
  background: white;
  box-shadow: 0 0 5px rgba(black, 0.1);
  padding: 1.5rem;
  color: #4f4f4f;

  &-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;

    @include viewport-is(desktop) {
      grid-template-columns: 1fr 1fr;
    }

    @include viewport-is(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &-image {
    line-height: 0;
    position: relative;

    img {
      width: 100%;
    }
  }

  &-price {
    border-radius: 0 0 1rem 0;
    position: absolute;
    left: 0;
    top: 0;
    line-height: normal;
    padding: 0.6rem 1rem;
    background: rgba(#668a5c, 0.8);
    color: #fff;
  }

  &-title {
    font-size: 2.2rem;
    font-weight: normal;
    margin: 1.2rem 0;
    position: relative;

    span {
      position: relative;
      display: inline-block;
      padding: 0 1rem 0 0;

      &::before {
        content: "";
        height: 1px;
        width: 100%;
        background: rgba(#4f4f4f, 0.2);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 4px;
      }
    }
  }

  &-category {
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0 0 1.2rem;
  }

  &-description {
    line-height: 1.5em;
    text-align: justify;
  }
}


